@page
@model Yonkoma.Pages.Orders.DbOrdModel
@{
    ViewData["Title"] = "Список заказов";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr><th>Название</th><th>Количество</th><th>Том</th><th>Глава</th><th>Адрес доставки</th><th>Метод оплаты</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Name</td>
                <td>@order.Count</td>
                <td>@order.Thom</td>
                <td>@order.Chapter</td>
                <td>@order.Address</td>
                <td>@order.Money</td>
                <td>
                    <form method="post">
                        <a asp-page="Edit" asp-route-id="@order.Id">Изменить</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@order.Id">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

